*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1235px;
    margin: 0 auto;
}

.red{
    color: #D2001C;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    padding: 0;
    list-style-type: none;
}