.main {
    margin-top: 68px;
    margin-bottom: 70px;

    // .main__wrapper

    &__wrapper {}

    // .main__top

    &__top {
        padding-right: 5px;
    }

    // .main__img

    &__img {
        width: 100%;
        height: 432px;
        margin-left: -15px;
        object-fit: cover;
    }

    // .main__content

    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 47px;
        margin-left: -15px;
    }

    // .main__column

    &__column {}

    // .main__title

    &__title {
        max-width: 370px;
        letter-spacing: -1.5px;
        font-family: 'SF Pro text';
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 32px;

        color: #000000;
    }

    // .main__link

    &__link {
        background: #D2001C;
        border-radius: 4px;
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.7px;
        max-width: 280px;
        min-height: 44px;
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 0 0 1px 3px;

        /* white */

        color: #FFFFFF;
    }

    // .main__personal-data

    &__personal-data {
        max-width: 235px;
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        letter-spacing: -0.7px;

        color: #C4C4C4;
    }

    // .main__description

    &__description {
        max-width: 727px;
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: justify;
        letter-spacing: -0.7px;
        color: #4D4D4D;
        padding-right: 20px;
    }

    // .main__text

    &__text {
        margin-bottom: 18px;
        letter-spacing: -0.37px;
    }
}